body {
    background:#7389ae ;
    
}

#wrapper {
    border: 15px solid #416788;
    width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px; 
}

#img {
    width:500 px;
    border: 15px solid #416788;

}