@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

header {
    background-color: #e0e0e2;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 20px;

}

h1 {
    font-family: oswald, Arial, Helvetica, sans-serif;
    font-size: 60px;
}

p {
    font-family: rubik, Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 5px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    
}

nav a {
    padding-top: 65px;
    color: white;
    text-decoration: none;
}

.icon {
    background-color: black;
    width: 100%;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    }
    
    #song1 { 
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: #B57D86;
        padding: 5px;
        color: #597291;
    
    }
    #king { 
        grid-column: 3/4;
        grid-row: 1/2;
        
    }

    #crimson{
        width: 100%;
        height: 100%;
    }

    
    #music2 { 
        grid-column: 2/4;
        grid-row: 2/3;
        padding: 5px;
    }
    
    #crew { 
        grid-column: 1/2;
        grid-row: 2/3;
        max-width: 100%;  
        height: 100%;  
    }

    #lamar { 
        grid-column: 1/3;
        grid-row: 1/2;
        background-color: #472D36;
    
    }

    #kendrick {
        grid-column: 3/4;
        grid-row: 1/2;
        max-width: 100%;
        height: 100%;
    } 

    #igor {
        grid-column: 2/4;
        grid-row: 2/3;
        background-color: #F4AFC4;
    }

    #tyler {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%; 
        height: 100%; 
    }
#footer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        text-align: center;
}
        
    #copy { grid-area: 1 / 1 / 2 / 2; }
    #site { grid-area: 1 / 2 / 2 / 3; }
    #music { grid-area: 1 / 3 / 2 / 4; }
    #album { grid-area: 1 / 4 / 2 / 5; }
    #artists { grid-area: 1 / 5 / 2 / 6; }
    #insta { 
        grid-column: 1/2;
        grid-row: 2/3;
     }
    #face { grid-area: 2 / 3 / 3 / 4; }
    #x { grid-area: 2 / 5 / 3 / 6; }


#artist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
            

#tooth {
    grid-area: 1 / 2 / 2 / 3;
    padding-top: 10px;

}
#bear { 
    grid-area: 2 / 1 / 3 / 4;
    position: relative;
    top: -150px;
    padding: 10px;

}
#dc { 
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    height: auto;
}
#ac { 
    grid-area: 4 / 1 / 5 / 4;
    padding: 10px;

}



#artist {
    padding: 10px;
    background-color: black;
    color: white;
}

#beartooth {
    width: 100%;

}


.checked {
    color: orange;
    
  }
  
  